.common-nav-container
  display flex
  align-items flex-start
  .common-container
    padding .5rem 1.5rem
    .title-main
      color #ffad00
      bd b, #ddd, 3
      pd b, 0.5
    .content
      font-size 0.875rem
      text-indent 2rem