control_field-label()
  position absolute
  top 0
  z-index 4
  height 2.25em
  color #333
  font-size 1rem
  left 0
  text-indent .5em
  letter-spacing .2rem
.modal
  z-index 9999
.columns
  @extend .mg-0
  @extend .pd-0
.columns:not(:last-child)
  @extend .mg-0
.column
  @extend .pd-0
.field
  .field-label
    control_field-label()
    width 6.75em
  .control.is-label-text-3
    .field-label
      control-field-label()
      width 4.5em
  .control.has-label-left
    .input, .select select
      padding-left 6.75em
  .control.has-label-left.is-label-text-3
    .input, .select select
      padding-left 4.5em
  .control.has-icons-left.has-label-left
    .field-label
      left 2.25em
    .input, .select select
      padding-left 9em
  .control.has-icons-left.has-label-left.is-label-text-3
    .field-label
      left 2.25em
    .input, .select select
      padding-left 6.75em
.field-bottom
  margin-bottom 2rem!important
.field-top
  margin-top 2rem!important
.field-tip
  height 2rem
  .help
    mg t, 0
  span
    font-size .75rem
    color #c5c5c5